<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form [formGroup]="loginForm">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3" offset-sm="6" size-sm="6" size-xs="12" class="ion-align-self-center">
          <div class="ion-text-center">
            <h3>Login!</h3>
          </div>
          <div class="ion-padding">
            <ion-item color="primary">
              <ion-label position="floating">Enter Email Address</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <div class="ion-margin-top" *ngIf="submitted && f.email.errors">
              <div *ngIf="f.email.errors.required">Email cannot be empty</div>
              <div *ngIf="f.email.errors.email">Please Enter Valid Email address</div>
            </div>
            <ion-item color="primary">
              <ion-label position="floating">Enter Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <div class="ion-margin-top" *ngIf="submitted && f.password.errors">
              <div *ngIf="f.password.errors.required">Password cannot be empty</div>
              <div *ngIf="f.password.errors.minlength">Password must be atleast 4 characters</div>
            </div>
            <div class="ion-margin">
              <ion-button (click)="login()" fill="solid" color="success" expand="full">
                <ion-icon name="checkmark-circle-outline"></ion-icon>Login
              </ion-button>
              <ion-button [routerLink]="['/register']" fill="solid" color="secondary" expand="full">
                <ion-icon name="send" slot="start"></ion-icon>Register
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>